body {
    background-color: #0066BF;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

textarea {
    background-color: #2d2d2d;
    color: #FFC300;
    border: 1px solid #B5CA1D;
    resize: none;
}

label {
    color: #DC136C;
}

button {
    margin-right: 10px;
}
#progress-container {
    margin: 20px 0;
    width: 100%;
  }
  #progress-bar {
    width: 100%;
  }
  #modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding-top: 50px;
  }